<html>

    <head>
        <title >Movie catalog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../../../../../css/main.css" />
    </head>

    <body>
        <div class="title">
            <img src="../../../../../images/logo_offline.png"/>
            <h1>Movie list (offline)</h1>
        </div>
        <div class="container">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Year of release</th>
                    <th>Genre</th>
                    <th>Date added</th>
                </tr>
                </thead>
                <tbody >
                <tr class="odd">
                    <td>Template movie 1</td>
                    <td>year of release 1</td>
                    <td>Genre</td>
                    <td>date added 1</td>
                </tr>
                <tr id="2" class="even">
                    <td>Template movie 2</td>
                    <td>Year of release 2</td>
                    <td>Genre 2</td>
                    <td>Date added 2</td>
                </tr>
                <tr id="3" class="odd">
                    <td>Template movie 3</td>
                    <td>Year of release 3</td>
                    <td>Genre 3</td>
                    <td>Date added 3</td>
                </tr>
                </tbody>
            </table>
            <p>
                <a href="../home.html">Return to home</a>
            </p>
        </div>
        <div class="footer">
            <span>Copyright 2013 - G. Mollema (offline)</span>
        </div>
    </body>

</html>