<html>

    <head>
        <title >Movie catalog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../../../../css/main.css" />
    </head>

    <body>
        <div class="title">
            <img src="../../../../images/logo_offline.png"/>
            <h1>Home (offline)</h1>
        </div>
        <div class="container">
            <h2>Welcome to the movie catalog</h2>
            <p>Please select an option</p>
            <ol>
                <li><a href="movie/list.html">Movie List</a></li>
            </ol>
        </div>
        <div class="footer">
            <span>Copyright 2013 - G. Mollema (offline)</span>
        </div>
    </body>
  
</html>